* {
    box-sizing: border-box;
  }

body {
background-image: url(https://img.freepik.com/free-photo/close-up-blank-old-concrete-wall_23-2147856094.jpg?size=626&ext=jpg);
}

/*
  The width of the wrapper will be 1024px
  at browser widths above 768px
*/
.wrapper {
    width: 1024px;
}

#logo {
    font-size: 36px;
    padding: 30px;
    background-color: teal;
    color: white;
}

.col-md-6 {
    border: none;
}
.card {
    display: flex;
    margin-left: 40px;
    margin-top: 20px;
    width: 640px;
}

.card-body {
    
}

.card-title {
    border-bottom: 1px solid black;
}

/*
  These rules take effect when the browser's width
  is either 768px or less.
*/
@media screen and (max-width: 768px) {
    /* The body's bg color will be #333 */
    body {
      background-color: #333;
      margin: 0 auto;
    }
  
    /* The wrapper's width will be 600px */
    .wrapper {
      width: 100%;
      padding: 20px;
    }



    .card {
        display: flex;
        width: 728px;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;
    }

}

@media screen and (max-width: 640px) {

    .wrapper {
        width: 100%;
        padding: 20px;
    }

    .card {
        display: flex;
        width: 600px;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;
    }

    #logo {
        display: flex;
        justify-content: center;
    }

}