* {
    box-sizing: border-box;
  }

body {
background-image: url(https://img.freepik.com/free-photo/close-up-blank-old-concrete-wall_23-2147856094.jpg?size=626&ext=jpg);
}

.navbar {
    margin-bottom: 20px;
    padding: 0;
}

#logo {
    font-size: 36px;
    padding: 20px;
    background-color: teal;
    color: white;
    margin-left: 20px;
}

.container {
    float: left;
    background-color: white;
    padding: 20px;
    margin-left: 20px;
}

.form-header {
    color: teal;
    font-size: 36px;
    border-bottom: 1px solid black;
}

.about-me {
    margin-bottom: 20px;
    border-bottom: 1px solid black;
}

#my-pic {
    margin-right: 20px;
    margin-bottom: 20px;
}

.wrapped {
    float: left;
    max-width: 200px;
    max-height: 200px;
}

@media screen and (max-width: 557px) 
{

.navbar {
    justify-content: center;
}

}